/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Background for the page */
body {
    background-color: #292929;
    color: white;
}

/* Logo and Title at the top-left */
.logo-title {
    display: flex; /* Align logo and text side-by-side */
    align-items: center; /* Vertically align logo with text */
    gap: 10px; /* Space between logo and title */
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10; /* Ensure it stays above other elements */
}

/* Logo Styling */
.logo-title .logo {
    height: 150px; /* Restrict logo height */
    width: auto;  /* Maintain aspect ratio */
    max-width: 200px; /* Limit the logo width */
    object-fit: contain; /* Prevent distortion */
}

/* Title Styling */
.logo-title .title {
    font-family: 'Body Grotesque Fit', sans-serif;
    font-size: 7rem; /* Adjust the font size */
    color: white;
    margin: 0;
}

/* Error Message Styling */
.error-message p {
    color: red;
    text-align: center;
    margin: 20px 0;
}

/* Search Form */
.search-form {
    text-align: center;
    margin: 50px auto;
}

.search-form label {
    font-size: 1.2rem;
}

.search-form input {
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    width: 250px;
}

.search-form button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #c65102;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #a04100;
}

/* Map Section */
.map-section {
    width: 100%;
    height: calc(100vh - 200px);
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

#map-container {
    width: 90%;
    height: 100%;
    display: block;
    border: none;
    margin: 0;
}
.loading-section {
    text-align: center; /* Center everything in the section */
    margin: 0 auto;     /* Center horizontally */
}
#loading {
    font-size: 6rem;
    font-weight: bold;
    color: #FDA26B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 300px auto 20px;
    animation: wave 4s infinite;
}
p:nth-of-type(2) {
    font-size: 2rem; /* Make description larger */
    color: #F7C8A0; /* Muted orange for contrast */
    font-family: 'Montserrat', sans-serif; /* Consistent font */
    text-align: center; /* Center align */
    max-width: 800px; /* Limit width for better readability */
    margin: 20px auto; /* Add space below loading text */
}
/* Loading Animation */
@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

